@media all and (min-width: 992px){

    .backgroundDecoration {
        position: absolute; 
        top: 0; 
        right: 0; 
        bottom: 0; 
        left: 0;
        background-color: #88BDBC;
        overflow: auto;
    }

    .footer {
        position: fixed;
        display: block;
        bottom: 0;
        left: 0;
        right: 0;
        height: auto;
        width: 100%;
        padding-top: 40px;
        background: #254e58;
        color: aliceblue;
        text-align: center;
    }

    .loginForm {
        width: 30%;
        display: block;
        padding: 16px;
        background-color: whitesmoke;
        margin-left: auto;
        margin-right: 80px;
        margin-bottom: auto;
        margin-top: 30px;
        position:absolute;
        top:300px;
        right: 600px;
        border-radius: 15px;
        overflow: auto;
        z-index: 1;
    }

    .signupForm {
        width: 30%;
        display: block;
        padding: 16px;
        background-color: whitesmoke;
        margin-left: auto;
        margin-bottom: auto;
        margin-top: 30px;
        margin-right: 80px;
        position:absolute;
        top:140px;
        right: 580px;
        border-radius: 15px;
        overflow: auto;
        z-index: 1;
        
    }

    .headerText {
        text-align: left;
        padding-top: 20%;
        padding-right: 50%;
        margin-left: 100px;
        height: 100%;
        color: #0d6e80;
        font-size: xxx-large;
        font-family: fantasy;
    }

    .navbarLanding{
        background: #254e58;
        z-index: 1;
    }

    .buttons{

        position: fixed;
        top: 45px;
        right: 300px;
        z-index: 2;

    }

    .canvasbuttons{
        display: inline-block;
        vertical-align: top;
        position: absolute;
        top: 83px;
        left: 623px;
        overflow: auto;
        z-index: 2;
    }

    .formButtons{
        width: 50%;
    }

    .canvasSpace {
        width: 40%;
        height: 65%;
        display: block;
        padding: 16px;
        background-color: whitesmoke;
        margin-left: auto;
        margin-bottom: auto;
        margin-top: 30px;
        margin-right: 80px;
        position:absolute;
        top:110px;
        right: -20px;
        overflow: auto;
        border-radius: 15px;
    }


    .brushcontrols{
        display: inline-block;
        position: absolute;
        bottom: 20px;
        right: 235px;
        overflow: auto;
        z-index: 2;

    }

    .usernameText{
        color: #88BDBC;
        font-family: monospace;
        padding-left: 18px;
        overflow: auto;
    }
    
    .profileCard{
        padding: 16px;
        margin-left: auto;
        margin-bottom: auto;
        margin-top: 30px;
        margin-right: 80px;
        position:absolute;
        top:120px;
        right: 10px;
        border-radius: 15px;
        width: 25%;
    
    }

    .navButtons{
        position: absolute;
        top: 180px;
        left: 375px;
    }

    .fileUpload{
        position: absolute;
        top: 630px;
        left: 210px;
        width: 30%;
        overflow: auto;
    }

    .questionArea{
        position: absolute;
        top: 280px;
        left: 70px;
        width: 50%;
        height: 300px;
        background-color: aliceblue;
        outline-style: ridge;
        outline-color: aqua;
        overflow: auto;
    }

    #grid { 
        position: absolute;
        top: 210px;
        right: 50px;
        left: 50px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        grid-gap: 2vw;
    }
    #grid > div {
        font-size: 1vw;
        padding: .5em;
        background: gold;
        text-align: center;
    }

}

@media all and (min-width: 1200px){

    .backgroundDecoration {
        position: absolute; 
        top: 0; 
        right: 0; 
        bottom: 0; 
        left: 0;
        background-color: #88BDBC;
        overflow: auto;
    }

    .footer {
        position: fixed;
        display: block;
        bottom: 0;
        left: 0;
        right: 0;
        height: auto;
        width: 100%;
        padding-top: 40px;
        background: #254e58;
        color: aliceblue;
        text-align: center;
    }

    .loginForm {
        width: 30%;
        display: block;
        padding: 16px;
        background-color: whitesmoke;
        margin-left: auto;
        margin-right: 80px;
        margin-bottom: auto;
        margin-top: 30px;
        position:absolute;
        top:300px;
        right: 600px;
        border-radius: 15px;
        overflow: auto;
        z-index: 1;
    }

    .signupForm {
        width: 30%;
        display: block;
        padding: 16px;
        background-color: whitesmoke;
        margin-left: auto;
        margin-bottom: auto;
        margin-top: 30px;
        margin-right: 80px;
        position:absolute;
        top:140px;
        right: 580px;
        border-radius: 15px;
        overflow: auto;
        z-index: 1;
        
    }

    .headerText {
        text-align: left;
        padding-top: 20%;
        padding-right: 50%;
        margin-left: 100px;
        height: 100%;
        color: #0d6e80;
        font-size: xxx-large;
        font-family: fantasy;
    }

    .navbarLanding{
        background: #254e58;
        z-index: 1;
    }

    .buttons{

        position: fixed;
        top: 45px;
        right: 300px;
        z-index: 2;

    }

    .canvasbuttons{
        display: inline-block;
        vertical-align: top;
        position: absolute;
        top: 83px;
        left: 623px;
        overflow: auto;
        z-index: 2;
    }

    .formButtons{
        width: 50%;
    }

    .canvasSpace {
        width: 40%;
        height: 65%;
        display: block;
        padding: 16px;
        background-color: whitesmoke;
        margin-left: auto;
        margin-bottom: auto;
        margin-top: 30px;
        margin-right: 80px;
        position:absolute;
        top:110px;
        right: -20px;
        overflow: auto;
        border-radius: 15px;
    }


    .brushcontrols{
        display: inline-block;
        position: absolute;
        bottom: 20px;
        right: 235px;
        overflow: auto;
        z-index: 2;

    }

    .usernameText{
        color: #88BDBC;
        font-family: monospace;
        padding-left: 18px;
        overflow: auto;
    }
    
    .profileCard{
        padding: 16px;
        margin-left: auto;
        margin-bottom: auto;
        margin-top: 30px;
        margin-right: 80px;
        position:absolute;
        top:120px;
        right: 10px;
        border-radius: 15px;
        width: 25%;
    
    }

    .navButtons{
        position: absolute;
        top: 180px;
        left: 375px;
    }

    .fileUpload{
        position: absolute;
        top: 630px;
        left: 210px;
        width: 30%;
    }

    .questionArea{
        position: absolute;
        top: 280px;
        left: 70px;
        width: 50%;
        height: 300px;
        background-color: aliceblue;
        outline-style: ridge;
        outline-color: aqua;
        overflow: auto;
    }

    /*Styles for user dashboard grid*/
    #grid { 
        position: absolute;
        top: 210px;
        right: 50px;
        left: 50px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        grid-gap: 2vw;
    }
    #grid > div {
        font-size: 1vw;
        padding: .5em;
        background: gold;
        text-align: center;
    }

    /*styles for side nav*/

    .sidenav {
        height: 100%;
        width: 100px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: beige;
        overflow-x: hidden;
        padding-top: 20px;
      }
      
      .sidenav a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 15px;
        color: #818181;
        display: block;
      }
      
      .sidenav a:hover {
        color: #f1f1f1;
      }
      
      .main {
        margin-left: 160px; /* Same as the width of the sidenav */
        font-size: 28px; /* Increased text to enable scrolling */
        padding: 0px 10px;
      }

      /*styles for sidenav overlay animation*/
      .sidenavOverlay {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
      }
      
      .sidenavOverlay a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
      }
      
      .sidenavOverlay a:hover {
        color: #f1f1f1;
      }
      
      .sidenavOverlay .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
      }

      .profileDetails{
        margin-left: 30px;
        font-size: 20px;
        color: aliceblue;
      }



}