@media all and (min-width: 768px) and (max-width: 991px){
/*Previous and next button reference

https://www.w3schools.com/howto/howto_css_next_prev.asp

*/

  .navButtons  {
    position: absolute;
    top: 20.3125em;
    right: 28.125em;
  }
  
  .navButtons a {
      display: inline;
      text-decoration: none;
      padding: 0.5em 1em 0.5em 0.5em ;
    }
    
   .navButtons a:hover {
      color: #fafad2;
      background-color: #86a8e7;
    }
    
    .previous {
      position: absolute;
      top: 9.375em;
      left: 4.375em;
      color: #fafad2;
      background-color: #7f7fd5;
      margin-left: -8.75em;
      border-radius: 0.625em;
    }
    
    .next {
      position: absolute;
      top: 9.375em;
      left: 4.375em;
      color: #fafad2;
      background-color: #7f7fd5;
      border-radius: 0.625em;
    }

    .questionSection p {
      margin-bottom: 0.625em;
      margin: 0;
    }

    .answerArea {
      border: 0.0625em solid #bdbbbb;
      padding: 0.625em;
      border-radius: 0.3125em;
      margin-right: 7em;
      height: 36.375em;
    }

    .assignment-box{
      position: absolute;
      top:20%;
      left: 15%;
      box-shadow: 0em 0.125em 0.3125em #00000033;
      border-radius: 0.3125em;
      padding: 2.25em;
      background-color: #fff;
      border: 0.0625em solid #bdbbbb;
    }

    .assignment-box-head{
      display: flex;
      margin-bottom: 0.625em;
      align-items: center;
      justify-content: space-between;
    }

    .assignment-box-head h2{
      margin: 0;
    }

    .navigationButtons {
      justify-content: flex-end;
      display: flex;
      align-items: center;
    }
    
    .previousButton,
    .nextButton {
      margin-left: 0.625em;
      border: none;
      padding: 0.625em;
      border-radius: 0.3125em;
      transition: background-color 0.4s ease-in-out;
      cursor: pointer;
      color: #fff;
      background-color: #7f7fd5;
    }
    
    .previousButton[disabled],
    .nextButton[disabled] {
      cursor: not-allowed;
      opacity: 0.5;
    }
    
    .previousButton:hover,
    .nextButton:hover {
      background-color: #888686;
    }

    .upload-box{
      position: absolute;
      bottom:-40%;
      left: 30%;
      box-shadow: 0em 0.125em 0.3125em #00000033;
      border-radius: 0.3125em;
      padding: 2.25em;
      background-color: #fff;
      border: 0.0625em solid #bdbbbb;
    }

     /*Assignment and quiz list styles start*/


     .list-area-header {
      justify-content: space-between;
      display: flex;
      margin-bottom: 0.625em;
     }
    
     .list-area-header h4 {
      margin: 0;
     }

     .list-area-header p {
      margin-left: 7em;
     }

     .item-list {
      color: #333;
      padding: 1.25em;
      /*background: linear-gradient(to bottom right, #7f7fd5, #86a8e7, #91eae4);*/
      border-radius: 0.625em;
      font-family: Arial, sans-serif;
    }
    
    .item-list ul {
      margin: 0;
      list-style: none;
      padding: 0;
    }
    
    .item-list li {
      display: block;
      box-shadow: 0em 0.125em 0.3125em #00000033;
      margin-bottom: 1.25em;
      padding: 1.25em;
      background-color: #fff;
      border-radius: 0.3125em;
    }
    
    .list-details p {
      margin: 0;
      margin-bottom: 0.625em;
    }
    
    .list-details a {
      text-decoration: none;
      transition: background-color 0.3s ease-in-out;
      display: inline-block;
      color: #fff !important;
      background-color: #747272;
      padding: 0.3125em 0.625em;
    }
    
    .list-details a:hover {
      background-color: #555454;
    }
    
    #backButton{
      position: relative;
      top: -3em;
      left: -1em;
    }

    .courseinfo-list {
      color: #282828;
      padding: 1.25em;
      background: snow;
      border-radius: 0.625em;
      font-family: Arial, sans-serif;
      margin-left: 5em;
    }

    .courseinfo-list li {
      display: block;
      box-shadow: 0em 0.125em 0.3125em #00000033;
      margin-bottom: 1.25em;
      padding: 1.25em;
      background: linear-gradient(to top, #7f7fd5, #86a8e7, #91eae4);
      border-radius: 0.3125em;
    }

     /*Assignment and quiz list styles end*/

     /*grades table styles start*/

     .grade-table {
      position: relative;
      top: 7em;
      margin-top: 2em;
      width: 150%;
      border-collapse: collapse;
      background: rgb(205,238,174);
      background: radial-gradient(circle, rgb(208, 205, 205) 0%, rgba(148,230,233,1) 100%);
      box-shadow: 0em 0.125em 0.3125em #00000033;
    }
    
    .grade-table  td, .grade-table  th {
      padding: 1em;
      border-bottom: 0.1em solid #ffffff;
      color: #700cbc;
      text-align: center;
      margin-right: 15em;
    }
        
    
    .grade-table tr:nth-child(){background-color: #ffffff;}
    
    .grade-table tr:hover {background-color: #d5d4d4;}
    
    .grade-table th {
      background-color: #315755;
      text-align: center;
      padding: 0.9em 0 0.9em 0;
      background: rgb(182, 212, 238);
    }

     /*grades table styles end*/

     /*add and remove button styles start*/

     .addButton, .removeButton {
      color: #fafad2;
      background-color: #7f7fd5;
      border-radius: 0.3125em;
      padding: 0.75em 1.25em;
      font-size: 1em;
      width: 45%;
      border: none;
      transition: all 0.4s ease-in-out;
      margin-bottom: 1em;
    }

    /*add and remove button styles end*/

    /*show and hide buttons QA page start*/

    .showHideQuestions{
      text-decoration: underline;
      color: white;
      padding: 0;
      border: none;
      background: none;
      display: block;
    }

    .showHideQuestions:hover{
      color: #700cbc; 
    }


    .navigableQuestionList{
      position: relative;
      top:10%;
      margin-left: 7em;
    }

    /*show and hide buttons QA page end*/
  }


@media all and (min-width: 992px) and (max-width: 1199px){
 /*Previous and next button reference

https://www.w3schools.com/howto/howto_css_next_prev.asp

*/

    .navButtons  {
      position: absolute;
      top: 12.1875em;
      left: 23.75em;
    }
    .navButtons a {
        display: inline;
        text-decoration: none;
        padding: 0.5em 1em 0.5em 0.5em;
      }
      
     .navButtons a:hover {
      color: #fafad2;
      background-color: #86a8e7;
      }
      
      .previous {
        margin-left: -8.75em;
        border-radius: 0.625em;
        position: absolute;
        top: 9.375em;
        left: 4.375em;
        color: #fafad2;
        background-color: #7f7fd5;
      }
      
      .next {
        border-radius: 0.625em;
        position: absolute;
        top: 9.375em;
        left: 4.375em;
        color: #fafad2;
        background-color: #7f7fd5;  
      }

      .questionSection p {
        margin-bottom: 0.625em;
        margin: 0;
      }

      .answerArea {
        border: 0.0625em solid #bdbbbb;
        padding: 0.625em;
        border-radius: 0.3125em;
        margin-right: 7em;
        height: 36.375em;
      }

      .assignment-box{
        box-shadow: 0em 0.125em 0.3125em #00000033;
        border-radius: 0.3125em;
        padding: 2.25em;
        background-color: #fff;
        border: 0.0625em solid #bdbbbb;
      }

      .assignment-box-head{
        display: flex;
        margin-bottom: 0.625em;
        align-items: center;
        justify-content: space-between;
      }

      .assignment-box-head h2{
        margin: 0;
      }

      .navigationButtons {
        justify-content: flex-end;
        display: flex;
        align-items: center;
      }
      
      .previousButton,
      .nextButton {
        margin-left: 0.625em;
        border: none;
        padding: 0.625em;
        border-radius: 0.3125em;
        transition: background-color 0.4s ease-in-out;
        cursor: pointer;
        color: #fff;
        background-color: #7f7fd5;
      }
      
      .previousButton[disabled],
      .nextButton[disabled] {
        cursor: not-allowed;
        opacity: 0.5;
      }
      
      .previousButton:hover,
      .nextButton:hover {
        background-color: #888686;
      }

      .upload-box{
        position: absolute;
        bottom:-40%;
        left: 30%;
        box-shadow: 0em 0.125em 0.3125em #00000033;
        border-radius: 0.3125em;
        padding: 2.25em;
        background-color: #fff;
        border: 0.0625em solid #bdbbbb;
      }

       /*Assignment and quiz list styles start*/


       .list-area-header {
        justify-content: space-between;
        display: flex;
        margin-bottom: 0.625em;
       }
      
       .list-area-header h2 {
        margin: 0;
       }

       .list-area-header p {
        margin-left: 7em;
       }

       .item-list {
        color: #333;
        padding: 1.25em;
       /* background: linear-gradient(to bottom right, #7f7fd5, #86a8e7, #91eae4);*/
        border-radius: 0.625em;
        font-family: Arial, sans-serif;
      }
      
      .item-list ul {
        margin: 0;
        list-style: none;
        padding: 0;
      }
      
      .item-list li {
        display: block;
        box-shadow: 0em 0.125em 0.3125em #00000033;
        margin-bottom: 1.25em;
        padding: 1.25em;
        background-color: #fff;
        border-radius: 0.3125em;
      }
      
      .list-details p {
        margin: 0;
        margin-bottom: 0.625em;
      }
      
      .list-details a {
        text-decoration: none;
        transition: background-color 0.3s ease-in-out;
        display: inline-block;
        color: #fff !important;
        background-color: #747272;
        padding: 0.3125em 0.625em;
      }
      
      .list-details a:hover {
        background-color: #555454;
      }
      
      #backButton{
        position: relative;
        top: -3em;
        left: 19em;
      }

      .courseinfo-list {
        color: #282828;
        padding: 1.25em;
        background: snow;
        border-radius: 0.625em;
        font-family: Arial, sans-serif;
        margin-left: 5em;
      }

      .courseinfo-list li {
        display: block;
        box-shadow: 0em 0.125em 0.3125em #00000033;
        margin-bottom: 1.25em;
        padding: 1.25em;
        background: linear-gradient(to top, #7f7fd5, #86a8e7, #91eae4);
        border-radius: 0.3125em;
      }

       /*Assignment and quiz list styles end*/
      /*grades table styles start*/

      .grade-table {
        position: relative;
        top: 7em;
        margin-top: 2em;
        width: 150%;
        border-collapse: collapse;
        background: rgb(205,238,174);
        background: radial-gradient(circle, rgb(208, 205, 205) 0%, rgba(148,230,233,1) 100%);
        box-shadow: 0em 0.125em 0.3125em #00000033;
      }
      
      .grade-table  td, .grade-table  th {
        padding: 1em;
        border-bottom: 0.1em solid #ffffff;
        color: #700cbc;
        text-align: center;
        margin-right: 15em;
      }
          
      
      .grade-table tr:nth-child(){background-color: #ffffff;}
      
      .grade-table tr:hover {background-color: #d5d4d4;}
      
      .grade-table th {
        text-align: center;
        padding: 0.9em 0 0.9em 0;
        background: rgb(182, 212, 238);
      }

       /*grades table styles end*/

       /*add and remove button styles start*/

      .addButton, .removeButton {
        cursor: pointer;
        color: #fafad2;
        background-color: #7f7fd5;
        border-radius: 0.3125em;
        padding: 0.75em 1.25em;
        font-size: 1em;
        width: 45%;
        border: none;
        transition: all 0.4s ease-in-out;
        margin-bottom: 1em;
      }

      /*add and remove button styles end*/

      /*show and hide buttons QA page start*/

      .showHideQuestions{
        text-decoration: underline;
        color: white;
        padding: 0;
        border: none;
        background: none;
        display: block;
      }

      .showHideQuestions:hover{
        color: #700cbc; 
      }


      .navigableQuestionList{
        position: relative;
        top:10%;
        margin-left: 7em;
      }

      /*show and hide buttons QA page end*/
       
    }

@media all and (min-width: 1200px){
/*Previous and next button reference

https://www.w3schools.com/howto/howto_css_next_prev.asp

*/
    .navButtons  {
      position: absolute;
      top: 12.1875em;
      left: 49.375em;
    }
   .navButtons a {
        display: inline;
        text-decoration: none;
        padding: 0.5em 1em 0.5em 0.5em;
      }
      
     .navButtons a:hover {
        color: #fafad2;
        background-color: #86a8e7;
      }
      
      .previous {
        margin-left: -8.75em;
        border-radius: 0.625em;
        position: absolute;
        top: 9.375em;
        left: 4.375em;
        color: #fafad2;
        background-color: #7f7fd5;
      }
      
      .next {
        border-radius: 0.625em;
        position: absolute;
        top: 9.375em;
        left: 4.375em;
        color: #fafad2;
        background-color: #7f7fd5;
      }

      /*QA Page styles start*/

      .questionSection p {
        margin-bottom: 0.625em;
        margin: 0;
      }

      .answerArea {
        border: 0.0625em solid #bdbbbb;
        padding: 0.625em;
        border-radius: 0.3125em;
        margin-right: 7em;
        height: 36.375em;
      }

      .assignment-box{
        box-shadow: 0em 0.125em 0.3125em #00000033;
        border-radius: 0.3125em;
        padding: 2.25em;
        background-color: #fff;
        border: 0.0625em solid #bdbbbb;
      }

      .assignment-box-head{
        display: flex;
        margin-bottom: 0.625em;
        align-items: center;
        justify-content: space-between;
      }

      .assignment-box-head h2{
        margin: 0;
      }

      .navigationButtons {
        justify-content: flex-end;
        display: flex;
        align-items: center;
      }
      
      .previousButton,
      .nextButton {
        margin-left: 0.625em;
        border: none;
        padding: 0.625em;
        border-radius: 0.3125em;
        transition: background-color 0.4s ease-in-out;
        cursor: pointer;
        color: #fff;
        background-color: #7f7fd5;
      }
      
      .previousButton[disabled],
      .nextButton[disabled] {
        cursor: not-allowed;
        opacity: 0.5;
      }
      
      .previousButton:hover,
      .nextButton:hover {
        background-color: #888686;
      }

      .upload-box{
        position: absolute;
        top:130%;
        left: 30%;
        box-shadow: 0em 0.125em 0.3125em #00000033;
        border-radius: 0.3125em;
        padding: 2.25em;
        background-color: #fff;
        border: 0.0625em solid #bdbbbb;
      }

       /*QA Page styles end*/

       /*Assignment and quiz list styles start*/


       .list-area-header {
        justify-content: space-between;
        display: flex;
        margin-bottom: 0.625em;
       }
      
       .list-area-header h4 {
        margin: 0;
       }

       .list-area-header p {
        margin-left: 7em;
       }

       .item-list {
        color: #282828;
        padding: 1.25em;
        /*background: linear-gradient(to bottom right, #7f7fd5, #86a8e7, #91eae4);*/
        border-radius: 0.625em;
        font-family: Arial, sans-serif;
      }

      .courseinfo-list {
        color: #282828;
        padding: 1.25em;
        background: snow;
        border-radius: 0.625em;
        font-family: Arial, sans-serif;
        margin-left: 5em;
      }
      
      .item-list ul, .courseinfo-list ul {
        margin: 0;
        list-style: none;
        padding: 0;
      }
      
      .item-list li {
        display: block;
        box-shadow: 0em 0.125em 0.3125em #00000033;
        margin-bottom: 1.25em;
        padding: 1.25em;
        background-color: #fff;
        border-radius: 0.3125em;
      }

      .courseinfo-list li {
        display: block;
        box-shadow: 0em 0.125em 0.3125em #00000033;
        margin-bottom: 1.25em;
        padding: 1.25em;
        background: linear-gradient(to top, #7f7fd5, #86a8e7, #91eae4);
        border-radius: 0.3125em;
      }
      
      .list-details p {
        margin: 0;
        margin-bottom: 0.625em;
      }

      .list-details a {
        text-decoration: none;
        transition: background-color 0.3s ease-in-out;
        display: inline-block;
        color: #fff !important;
        background-color: #747272;
        padding: 0.3125em 0.625em;
      }
      
      .list-details a:hover {
        background-color: #555454;
      }

      #backButton{
        position: relative;
        top: -3em;
        left: 21em;
      }
       /*Assignment and quiz list styles end*/

       /*grades table styles start*/

       .grade-table {
        position: relative;
        top: 7em;
        margin-top: 2em;
        width: 150%;
        border-collapse: collapse;
        background: rgb(205,238,174);
        background: radial-gradient(circle, rgb(208, 205, 205) 0%, rgba(148,230,233,1) 100%);
        box-shadow: 0em 0.125em 0.3125em #00000033;
      }
      
      .grade-table  td, .grade-table  th {
        padding: 1em;
        border-bottom: 0.1em solid #ffffff;
        color: #700cbc;
        text-align: center;
        margin-right: 15em;
      }
          
      
      .grade-table tr:nth-child(){background-color: #ffffff;}
      
      .grade-table tr:hover {background-color: #d5d4d4;}
      
      .grade-table th {
        text-align: center;
        padding: 0.9em 0 0.9em 0;
        background: rgb(182, 212, 238);
      }

       /*grades table styles end*/

      /*add and remove button styles start*/

      .addButton, .removeButton {
        cursor: pointer;
        color: #fafad2;
        background-color: #7f7fd5;
        border-radius: 0.3125em;
        padding: 0.75em 1.25em;
        font-size: 1em;
        width: 45%;
        border: none;
        transition: all 0.4s ease-in-out;
        margin-bottom: 1em;
      }

      /*add and remove button styles end*/

      /*show and hide buttons QA page start*/

      .showHideQuestions{
        text-decoration: underline;
        color: white;
        padding: 0;
        border: none;
        background: none;
        display: block;
      }

      .showHideQuestions:hover{
        color: #700cbc; 
      }


      .navigableQuestionList{
        position: relative;
        top:10%;
        margin-left: 7em;
      }

      /*show and hide buttons QA page end*/


    }

  